@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

@theme {
  /* Container */
  --container-center: true;
  --container-padding: 2rem;
  --breakpoint-2xl: 1400px;

  /* Colors - Fill */
  --color-fill-1: rgba(255, 255, 255, 0.10);

  /* Colors - Bank Gradient */
  --color-bank-gradient: #0179FE;

  /* Colors - Indigo */
  --color-indigo-500: #6172F3;
  --color-indigo-700: #3538CD;

  /* Colors - Success */
  --color-success-25: #F6FEF9;
  --color-success-50: #ECFDF3;
  --color-success-100: #D1FADF;
  --color-success-600: #039855;
  --color-success-700: #027A48;
  --color-success-900: #054F31;

  /* Colors - Pink */
  --color-pink-10: #ffeef5;
  --color-pink-25: #FEF6FB;
  --color-pink-100: #FCE7F6;
  --color-pink-500: #EE46BC;
  --color-pink-600: #DD2590;
  --color-pink-700: #C11574;
  --color-pink-900: #851651;

  /* Colors - Blue */
  --color-blue-25: #F5FAFF;
  --color-blue-100: #D1E9FF;
  --color-blue-500: #2E90FA;
  --color-blue-600: #1570EF;
  --color-blue-700: #175CD3;
  --color-blue-900: #194185;

  /* Colors - Sky */
  --color-sky-1: #F3F9FF;

  /* Colors - Black */
  --color-black-1: #00214F;
  --color-black-2: #344054;

  /* Colors - Gray */
  --color-gray-20: rgba(108, 102, 133, 0.2);
  --color-gray-25: #FCFCFD;
  --color-gray-40: rgba(58, 56, 77, 0.04);
  --color-gray-100: #6c6685;
  --color-gray-200: #EAECF0;
  --color-gray-300: #D0D5DD;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-900: #101828;

  /* Colors - Light/Dark */
  --color-light-100: #fff8fb;
  --color-dark-100: #212121;

  /* Colors - Orange */
  --color-orange-100: #fe6247;

  /* Background Images */
  --background-image-bank-gradient: linear-gradient(90deg, #0179FE 0%, #4893FF 100%);
  --background-image-gradient-mesh: url('/icons/gradient-mesh.svg');
  --background-image-bank-green-gradient: linear-gradient(90deg, #01797A 0%, #489399 100%);
  --background-image-radial-100:
    radial-gradient(
      79.36% 59.94% at 101.94% -1.83%,
      #ffe5f0 0%,
      #fff 42%,
      rgba(0, 0, 0, 0) 42%
    ),
    radial-gradient(
      60.29% 53.62% at 0% 100%,
      #ffd8e9 0%,
      #fff 42%,
      rgba(0, 0, 0, 0) 42%
    );

  /* Box Shadows */
  --shadow-10: 0px 6px 24px 0px rgba(0, 0, 0, 0.1);
  --shadow-15: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
  --shadow-20: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
  --shadow-form: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-chart: 0px 1px 3px 0px rgba(16, 24, 40, 0.10), 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
  --shadow-profile: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  --shadow-credit-card: 8px 10px 16px 0px rgba(0, 0, 0, 0.05);
  --shadow-inset-20: 0px 10px 40px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 1px #d7d5dd inset;

  /* Border Radius */
  --radius-18: 18px;
  --radius-20: 20px;

  /* Font Families */
  --font-family-inter: var(--font-inter);
  --font-family-ibm-plex-serif: var(--font-ibm-plex-serif);

  /* Text Sizes */
  --text-28: 1.75rem;

  /* Animations */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@layer base {
  html,
  body {
    font-family: var(--font-inter);
  }
  
  select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
  }

  /* For IE10 */
  select::-ms-expand {
    display: none;
  }
  
  button {
    @apply cursor-pointer;
  }
  
  h1 {
    @apply -tracking-[2px];
  }

}

@utility no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

/* Define custom utilities */
@utility text-10 {
  font-size: 10px;
  line-height: 14px;
}

@utility text-12 {
  font-size: 12px;
  line-height: 16px;
}

@utility text-14 {
  font-size: 14px;
  line-height: 20px;
}

@utility text-16 {
  font-size: 16px;
  line-height: 24px;
}

@utility text-18 {
  font-size: 18px;
  line-height: 22px;
}

@utility text-20 {
  font-size: 20px;
  line-height: 24px;
}

@utility text-24 {
  font-size: 24px;
  line-height: 30px;
}

@utility text-26 {
  font-size: 26px;
  line-height: 32px;
}

@utility text-30 {
  font-size: 30px;
  line-height: 38px;
}

@utility text-36 {
  font-size: 36px;
  line-height: 44px;
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .header-box {
    @apply flex flex-col gap-1;
  }

  .header-box-title {
    @apply text-24 lg:text-30 font-semibold text-gray-900;
  }

  .total-balance {
    @apply flex w-full items-center gap-4 rounded-xl border border-gray-200 p-4 sm:p-6 shadow-chart sm:gap-4;
  }

  .total-balance-chart {
    @apply flex size-full max-w-[100px] sm:max-w-[120px] items-center;
  }

  .header-two {
    @apply text-18 font-semibold text-gray-900;
  }

  .total-balance-label {
    @apply text-14 font-medium text-gray-600;
  }
}